@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;800&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #87B3C0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
